extends base

block content
  main.main
    .forget-password-form
      h2.heading-secondary.ma-bt-lg Enter Your Email Address
      form.form.form--forget-password
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.right
          button.btn.btn--green.btn--send-email Send